@import url("https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Barlow Semi Condensed", "sans-serif";
}

body {
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.game-button {
  background-repeat: no-repeat;
  background-position: center;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border-width: 12px;
  border-style: solid;
  box-shadow: inset 2px 2px 8px gray;
  cursor: pointer;
  margin: 0 8px;
}

#Rock {
  background-image: url("../assets/icon-rock.svg");
  border-color: hsl(349, 70%, 56%);
}

#Paper {
  background-image: url("../assets/icon-paper.svg");
  border-color: hsl(230, 89%, 65%);
}

#Scissors {
  background-image: url("../assets/icon-scissors.svg");
  border-color: hsl(40, 84%, 53%);
}

#Lizard {
  background-image: url("../assets/icon-lizard.svg");
  border-color: hsl(261, 72%, 63%);
}

#Spock {
  background-image: url("../assets//icon-spock.svg");
  border-color: hsl(189, 58%, 57%);
}

.appear {
  animation: appear;
  animation-duration: 1s;
}

.appear-4 {
  animation: appear-4;
  animation-duration: 1s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes appear-4 {
  0% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

#rules {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .game-button {
    height: 180px;
    width: 180px;
    border-width: 24px;
  }
}
